/* Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --principal: "Poppins";
  --secondary: "JetBrains Mono";
  --handmade: "Just Me Again Down Here";

  /** Colors */

  --dark-blue: #06071a;
  --dark-blue-light: #101123;

  /* borders */
  --Who-i-am-border: radial-gradient(
        circle at 100% 100%,
        #101123 0,
        #101123 8px,
        transparent 8px
      )
      0% 0%/10px 10px no-repeat,
    radial-gradient(circle at 0 100%, #101123 0, #101123 8px, transparent 8px)
      100% 0%/10px 10px no-repeat,
    radial-gradient(circle at 100% 0, #101123 0, #101123 8px, transparent 8px)
      0% 100%/10px 10px no-repeat,
    radial-gradient(circle at 0 0, #101123 0, #101123 8px, transparent 8px) 100%
      100%/10px 10px no-repeat,
    linear-gradient(#101123, #101123) 50% 50% / calc(100% - 4px)
      calc(100% - 20px) no-repeat,
    linear-gradient(#101123, #101123) 50% 50% / calc(100% - 20px)
      calc(100% - 4px) no-repeat,
    linear-gradient(
      -122deg,
      #575a99 0%,
      rgb(29, 30, 51) 16%,
      #1d1e33 79%,
      rgb(87, 90, 153) 100%
    );
}

/* general */
body {
  font-size: 1.6rem;
  height: 432rem;
  background: var(--dark-blue) no-repeat top url(../imgs/Background.png);
  display: flex;
  justify-content: top;
  align-items: center;
  flex-flow: column;
}

/* Navbar */
header {
}

nav {
  /* position: fixed;
  width: 100%; */

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2.2rem 2.8rem;
  margin-top: 2.5rem;
  max-width: 139.6rem;
  max-height: 6.9rem;
  border-radius: 1.6rem;

  font-family: var(--secondary), "Times New Roman";
  background-color: rgba(217, 217, 217, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  & .logo {
    font-size: 2.4rem;
    font-weight: 900;
    background: #ffffff;
    background: linear-gradient(to right, #ffffff 0%, #ffffff66 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    cursor: pointer;
    user-select: none;
  }

  & ul {
    display: flex;
    list-style: none;
    gap: 3.2rem;
    & li a {
      color: #fff;
      text-decoration: none;
      font-size: 2rem;
      font-weight: 400;
    }
  }

  & button {
    display: flex;
    gap: 1.4rem;
    align-items: center;
    padding: 0.8rem 1.4rem;

    font-family: inherit;
    font-size: 2rem;

    color: white;
    background-color: transparent;
    border: solid 0.2rem #fff;
    border-radius: 0.8rem;

    cursor: pointer;
  }
}

/* main */

main {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 28rem;
  margin: 11.8rem auto;

  & .container-content {
    display: flex;
    flex-flow: column;
    gap: 7rem;

    & .welcome {
      font-size: 2.4rem;
      font-family: var(--secondary);
      font-weight: 400;
      color: white;

      & span {
        color: #b056ff;
      }
    }

    & .container-principal-text {
      display: flex;
      flex-flow: column;
      gap: 2.8rem;

      & h1 {
        font-family: var(--handmade);
        font-size: 12.8rem;
        line-height: 80%;
        font-weight: 400;

        color: white;
        max-width: 52.6rem;
      }

      & .profissoes {
        display: flex;
        gap: 4rem;

        & .professional-tittles {
          font-size: 1.6rem;
          font-family: var(--principal);
          font-weight: 400;

          background-color: #101123;
          color: white;
          box-shadow: 0 0 8px #b056ff, 0 -1px 0 #b056ff;
          cursor: pointer;

          padding: 0.4rem 2.4rem;
          border-radius: 2rem;
        }
      }
    }
  }

  & .container-profile-photo {
    width: 38.4rem;
    height: 38.4rem;
    border-radius: 50%;
    background-color: white;
  }
}

/* About me */

section.about-me {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  & .container-about-me {
    background-color: rgba(217, 217, 217, 0.1);
    width: 111.8rem;
    height: 602;
  }
}

/*?other */
.about-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(26, 1fr);
  gap: 2rem;

  & div {
    background-color: var(--dark-blue-light);
    border-radius: 1rem;
    padding: 2rem 0 0 2rem;
    font-size: 2rem;
    color: white;
  }
}

.div1 {
  grid-area: 1 / 1 / 14 / 4;

  background-image: url(../imgs/2\ About/Who-I-Am-bento.png) ;
  background-size: cover;
  box-shadow: inset 0 0 1.5rem 0.1rem rgb(81, 51, 117, 0.5);
}
.div2 {
  grid-area: 1 / 4 / 7 / 5;
}
.div3 {
  grid-area: 1 / 5 / 10 / 7;
}
.div4 {
  grid-area: 21 / 1 / 27 / 2;
}
.div5 {
  grid-area: 14 / 1 / 21 / 2;
}
.div6 {
  grid-area: 14 / 2 / 27 / 4;
}
.div7 {
  grid-area: 7 / 4 / 27 / 5;
}
.div8 {
  grid-area: 10 / 5 / 27 / 7;
}
