/* Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --principal: "Poppins";
  --secondary: "JetBrains Mono";
  --handmade: "Just Me Again Down Here";

  /** Colors */
}

/* general */
body {
  font-size: 1.6rem;
  height: 432rem;
  background: #06071a no-repeat top url(../imgs/Background.png);
  display: flex;
  justify-content: top;
  align-items: center;
  flex-flow: column;
}

/* Navbar */
header {
}

nav {
  position: fixed;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2.2rem 2.8rem;
  margin-top: 2.5rem;
  max-width: 139.6rem;
  max-height: 6.9rem;
  border-radius: 1.6rem;

  font-family: var(--secondary), 'Times New Roman';
  backdrop-filter: blur(30px);
  background-color: rgba(217, 217, 217, 0.1);

  & .logo {
    font-size: 2.4rem;
    font-weight: 900;
    background: #ffffff;
    background: linear-gradient(to right, #ffffff 0%, #ffffff66 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }

  & ul {
    display: flex;
    list-style: none;
    gap: 3.2rem;
    & li a {
      color: #fff;
      text-decoration: none;
      font-size: 2rem;
      font-weight: 400;
    }
  }
}
/* main */

/*?other */
